connect:
  host: 127.0.0.1
  port: 5672
  username: guest
  password: guest
  vhost: /

exchange:
  default:
    key: goDCE.default
    type: direct
  matching:
    key: goDCE.trade.matching
    type: direct
  trade:
    key: goDCE.trade.treat
    type: direct
  cancel:
    key: goDCE.order.cancel
    type: direct

queue:
  matching:
    reload: goDCE.reload.trade.matching
  trade:
    reload: goDCE.reload.trade.treat
  cancel:
    reload: goDCE.reload.order.cancel
