production:
  main:
    database: goHex
    username: root
    password: 
    host: 127.0.0.1
    port: 3306
    dbargs: charset=utf8&parseTime=True&loc=Local
    pool: 5
  backup:
    database: goHex_backup
    username: root
    password: 
    host: 127.0.0.1
    port: 3306
    dbargs: charset=utf8&parseTime=True&loc=Local
    pool: 5  

development:
  main:
    database: goHex
    username: root
    password: 
    host: 127.0.0.1
    port: 3306
    dbargs: charset=utf8&parseTime=True&loc=Local
    pool: 5
  backup:
    database: goHex_backup
    username: root
    password: 
    host: 127.0.0.1
    port: 3306
    dbargs: charset=utf8&parseTime=True&loc=Local
    pool: 5
