---
- path: /web
  method: GET
- path: /web/*
  method: GET

# V1 --------------------------------------------------------------------------------------------------------------------------------------------------
- path: /api/:platform/v1/currencies
  method: GET

- path: /api/:platform/v1/k
  method: GET
- path: /api/:platform/v1/chart
  method: GET

- path: /api/:platform/v1/markets
  method: GET

- path: /api/:platform/v1/users/login
  method: POST
- path: /api/:platform/v1/users/me
  auth: true
  method: GET
- path: /api/:platform/v1/users/accounts/:currency
  auth: true
  method: POST
- path: /api/:platform/v1/users/accounts
  auth: true
  sign: true
  method: GET

- path: /api/:platform/v1/depth
  method: GET

- path: /api/:platform/v1/order
  auth: true
  method: GET
- path: /api/:platform/v1/orders
  auth: true
  method: GET
- path: /api/:platform/v1/orders
  auth: true
  sign: true
  method: POST
  reloading_matching_check: true
  market_can_trade: true
  is_rabbitmq_connected: true
- path: /api/:platform/v1/orders/multi2
  method: POST
  auth: true
  sign: true
  reloading_matching_check: true
  market_can_trade: true
  is_rabbitmq_connected: true
- path: /api/:platform/v1/order/delete
  auth: true
  sign: true
  method: POST
- path: /api/:platform/v1/orders/delete
  auth: true
  sign: true
  method: POST
- path: /api/:platform/v1/orders/clear
  auth: true
  sign: true
  method: POST

- path: /api/:platform/v1/tickers
  method: GET
- path: /api/:platform/v1/tickers/:market
  method: GET

- path: /api/:platform/v1/trades
  method: GET
- path: /api/:platform/v1/trades/my
  auth: true
  method: GET

