---
- name: KLineWorker
  exchange: goDCE.default
  routing_key: goDCE.k
  queue: goDCE.k
  durable: true
  ack: true
  threads: 4

- name: TickerWorker
  exchange: goDCE.default
  routing_key: goDCE.ticker
  queue: goDCE.ticker
  durable: true
  ack: true
  threads: 4
